/* src/app/components/login/login.component.scss */
ion-card {
    max-width: 400px;
    margin: 20px auto;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  ion-button[type="submit"] {
    margin-top: 20px;
  }