<app-navbar title="Liste des Films">
</app-navbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let movie of movies$ | async">
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <h3>{{ movie.genre }} - {{ movie.year }}</h3>
        <h4>Likes: {{ movie.favoriteCount }}</h4>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="toggleFavorite(movie)">
        <ion-icon 
          [name]="isFavorite(movie) ? 'heart' : 'heart-outline'" 
          color="danger" 
          style="font-size: 24px;">
        </ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
