.bg-image {
  --background: url('/assets/bg.webp') no-repeat 100% 100%;
}

ion-card {
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Optional: Customize IonButton hover effects if desired */
ion-button[color="danger"] {
  --background: #f44336;
}

ion-button[color="success"] {
  --background: green;
}
