<div class="container">
  <div *ngFor="let user of users$ | async" class="user-card">
    <div class="user-header">
      <h3></h3>
      <button 
        (click)="user.desactivated ? activateUser(user) : deactivateUser(user)"
        [ngClass]="user.desactivated ? 'activate-btn' : 'deactivate-btn'">
        {{ user.desactivated ? 'activate' : 'Desactivate' }}
      </button>
    </div>

    <div class="user-info">
      <p><strong>Email:</strong> {{ user.email }}</p>

      <p><strong>Role:</strong> {{ user.role }}</p>


      <p>
        <strong>Status:</strong> 
        <span class="status-badge" [ngClass]="{ 'active': !user.desactivated, 'inactive': user.desactivated }">
          {{ user.desactivated ? 'Inactive' : 'Active' }}
        </span>
      </p>
    </div>
  </div>
</div>